extends layout
block content
 h1= title
 - let id = toShow._id
 - let name = toShow.name
 - let color = toShow.color
 - let cost = toShow.cost
 div
 div.row
 div(class='fairydollAttr mr-3') Fairydoll ID is:
 div #{id}
 div.row
 div(class='fairydollAttr mr-3') Fairydoll name is:
 div #{name}
 div.row
 div(class='fairydollAttr mr-3') Fairydoll cost is:
 div #{cost}
 div.row
 div(class='fairydollAttr mr-3') Fairydoll color is:
 div #{color}