extends layout
block content
 h1= title
 - let fairydollid = toShow._id
 - let name = toShow.name
 - let color = toShow.color
 - let cost = toShow.cost
 div
 div.row
 div(class='fairydollAttr mr-3') fairydoll ID is:
 div #{fairydollid}
 div.row
 div(class='fairydollAttr mr-3') fairydoll name is:
 div #{name}
 div.row
 div(class='fairydollAttr mr-3') fairydoll cost is:
 div #{cost}
 div.row
 div(class='fairydollAttr mr-3') fairydoll color is:
 div #{color}